<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Studenta</title>
    <style>
        form {
            text-align: center;
            padding-top: 400px;
        }
        body {
            background-color: bisque;
        }
    </style>
</head>
<body>
    
    <form action="" method="POST">
        Imię: <input type="text" name="firstName" id="firstName">
        <br>
        Nazwisko: <input type="text" name="lastName" id="lastName">
        <br>

        <button type="submit">Dodaj do bazy</button>
    </form>
</body>
</html>