<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potwierdzone Info</title>
    <style>
        h1{
            text-align: center;
            padding-top: 400px;
        }
        h1:hover{
            color: cadetblue;
        }
        body {
            background-color: bisque;
        }
    </style>
</head>
<body>
    <h1>Dodano pomyślnie</h1>
    
</body>
</html>